:root{
   
--secondary: rgba(70, 43, 32, 1);

}
*{
    font-family: 'Instrument Serif', serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
.container{
    width: 120em;
    height: 78.75em;
    margin: 0 auto;
}
.container h1{
    text-align: center;
    font-weight: 400;
    font-size: 58px;
    margin-top: 4.125em;
    margin-bottom: 4.75em;
    color: var(--secondary);
}
.wraper{
    display: flex;
    justify-content: space-between;
}
.wraper .content-left{
    margin-left: 15.125em;
    margin-top:3.375em ;
}
.wraper .content-right{
    margin-right: 18.437em;
}
hr{
    margin-top: 24px;
}
.content-down{
    display: flex;
    justify-content: space-between;
    margin-top: 1.1em;
}
.text-1{
    font-size: 26px;
    line-height: 28px;
    color: var(--secondary);
}
.text-2{
    width: 31.18em;
    height: 5.75;
    margin-top: 1em;
}
.none{
    display: none;
}

@media only screen and  (max-width:63.9375em) {
    .container{
        width: auto;
        height: auto;
    }
    .wraper{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .content-left img{
        width: 100%;
    }
    .content-right img{
        width: 100%;
    }
    .wraper .content-left{
        margin:50px 0px
    }
    .wraper .content-right{
        margin:0
    }


}
